.header {
  width: calc(100% - 2 * 200px);
  min-height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1279px) {
  .header {
    width: calc(100% - 2 * 90px);
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: 100%;
  }
}


