.pop-up__button-close {
  width: 32px;
  height: 32px;
  color: rgb(0, 0, 0, .0);
  background-image: url(../../../images/CloseIcon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0, .0);
  border: none;
  grid-column: 3/4;
  grid-row: 1/2;
  cursor: pointer;
  transition: .5s ease-out;
  padding: 0;
  background-size: 32px 32px;
}

.pop-up__button-close:hover {
  opacity: .6;
  transition: .5s ease-out;
}

@media screen and (max-width: 767px) {
  .pop-up__button-close {
    width: 20px;
    height: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: flex-end;
    background-size: 20px 20px;
  }
}
