.footer {
  width: calc(100% - 2 * 200px);
  margin: 0;
  padding-top: 68px;
  display: flex;
  justify-items: flex-start;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .footer {
    width: calc(100% - 2 * 90px);
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 2 * 40px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: 100%;
    padding: 48px 0 0 19px;
  }
}
