@media screen and (max-width: 767px) {
    .header__nav_cardpage {
        width: 100%;
        min-height: 58px;
        margin: 0;
        padding: 27px 0 40px 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(84, 84, 84, .7);
        display: none;
    }
  }