.pop-up-form__button-submit {
  margin-top: 18px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.pop-up-form__button-submit:hover {
  color: #fff;
  background-color: #000;
  border: none;
  opacity: 80%;
  transition: .3s ease-out;
}

.pop-up-form__button-submit:disabled {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  opacity: 20%;
  transition: .3s ease-out;
}

@media screen and (max-width: 767px) {
  .pop-up-form__button-submit {
    height: 46px;
    font-size: 14px;
    margin-top: 15px;
  }
}
