.profile__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 1fr 150px;
  -ms-grid-rows: 120px;
  grid-template-columns: 120px 1fr 150px;
  grid-template-rows: 120px;
  grid-gap: 30px;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
}

@media screen and (max-width: 767px) {
  .profile__content {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 120px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 50px;
    justify-items: center;
    grid-gap: 26px;
    min-height: 286px;
  }
}
