.mainpage {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 45px 0 60px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .mainpage{
    padding: 0 0 36px;
  }
}
