.header__logo-place {
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    align-self: flex-start;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .header__logo-place {
        width: calc(100% - 60px);
        align-self: center;
        min-height: 83px;
    }
  }